body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 200px;
}

header {
    padding: 30px;
    display: flex;
    gap: 30px;
    background: #dfdee1;
    border-radius: 12px;
    margin: 15px 0 0 0;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 20px;
}

a.active {
    color: red;
}

.contacts__container {
    display: flex;
    gap: 20px;
}
